*{box-sizing: border-box;}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
}
textarea{
    resize: none;
}



/* MAIL MAIN */

.mail-main-container{
display: flex;
align-items: flex-start;
height: 90vh;
}
.main-mail-app-container{
height: 100%;
padding: 10px;
flex:1;
}
.mail-main-nav{
    list-style: none;
}
.mail-main-nav >*{
    padding: 3px;
    cursor: pointer;

}
/* MAIL LIST */

.read{
    background-color: rgb(151, 149, 149);
}
.mail-list{
    list-style: none;
}
.mail-list li{
    border-bottom:1px solid black;
}

/* PREVIEW */

.mail-preview-container{
    transition:all .3s;
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mail-preview-container:hover{
    background-color: rgb(151, 149, 149);
    cursor: pointer;
}

/* DETAILS */

.mail-details-container{
background-color: lightyellow;
height: 100%;
display: flex;
flex-direction: column;
padding: 10px;
}

.mail-details-container>*{
    padding: 5px;
    border-bottom: 1px solid black;
}
.mail-preview-container p span{
    color: rgb(121, 116, 116);
}


/* COMPOSE */
.new-mail-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 9px 1px #e4e5e8;
}


/* FILTER */
.mail-filter{
display: flex;
justify-content: center;
}