*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
}
textarea{
    resize: none;
}
button{
    border:1px solid black;
}



/* MAIL MAIN */

.mail-main-container{
display: flex;
align-items: flex-start;
height: 90vh;
}
.main-mail-app-container{
height: 100%;
padding: 10px;
flex:1;
}
.mail-main-nav{
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.mail-main-nav>*{
margin-bottom: 10px;
padding: 10px;
}


/* ASIDE */
aside li{
    border-radius: 30px 60px 60px 30px;
    cursor: pointer;
    border:1px solid black;
    text-align: center;
    transition: .5s;
}
aside li:hover{
    background-color: rgb(255, 153, 153);
}

/* MAIL LIST */

.read{
    background-color: rgb(255, 153, 153,0.4);
    font-weight: 300;
}
.mail-list{
    list-style: none;
}
/* .mail-list li{
    border-bottom:1px solid black;
} */

.list-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.list-button-container button{
    margin-inline-end:15px ;
    padding:5px;
}

/* PREVIEW */

.mail-preview-container{
    transition:all .3s;
    padding:5px;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

}
.mail-preview-container:hover{
box-shadow: 0 0 1px 1px;
    cursor: pointer;
}
.mail-preview-container p span{
    color: rgb(121, 116, 116);
}

.preview-buttons button{
    background-color: transparent;
    text-align: center;
    padding: 6px;
    border: none;
    transition: all .5s;
}
.preview-buttons button:hover{
    box-shadow: 0 0 1px 1px;
}

/* DETAILS */

.mail-details-container{
background-color: lightyellow;
height: 100%;
display: flex;
flex-direction: column;
padding: 10px;
}

.mail-details-container>*{
    padding: 5px;
}


/* COMPOSE */
.new-mail-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 9px 1px #e4e5e8;
}

.new-mail-container input{
    width: 100%;
}

.new-mail-container textarea{
    width: 100%;
    height: 400px;
}

/* FILTER */
.mail-filter{
display: flex;
justify-content: center;
padding: 5px;
align-items: center
}
.mail-filter>*{
    margin-inline-end:4px ;
    padding:5px;
}

/* SENT */
.sent-mails-container{
    list-style: none;
}

.sent-mail{
    transition:all .3s;
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid black;    */
}
.sent-mail:hover{
    background-color: rgb(255, 153, 153,0.4);
    cursor: pointer;
}
.sent-mail p span{
    color: rgb(121, 116, 116);
}


/* TRASH */
.trashed-mail{
    transition:all .3s;
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trashed-mail:hover{
    background-color: rgb(255, 153, 153,0.4);
    cursor: pointer;
}
.trashed-mail p span{
    color: rgb(121, 116, 116);
}
.trash-buttons-container button{
    background-color: transparent;
}
.trash-buttons-container button:hover{
    background-color: rgb(255, 153, 153);
}

/* STARED */
.stared-mail{
    transition:all .3s;
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stared-mail:hover{
    background-color: rgb(255, 153, 153,0.4);
    cursor: pointer;
}
.stared-mail p span{
    color: rgb(121, 116, 116);
}

/* MAIL - STATUS */

.mail-status{
    text-align: center;
}

@media (max-width:700px){
    aside.mail-main-nav{
    display: flex;
    flex-direction: column;
    }
    /* .nav-phone{
    }
    .nav-phone with{
        transform: translateX(0);
        box-shadow: -4px 0px 15px 0px #dcdcdc;
        transform: translateX(100%);
        box-shadow: none;
        transition: transform .8s, box-shadow .8s; 
    } */
}



/* USER MSG */

.user-msg {
    /* visibility: hidden; Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.success{
    /* background-color: rgb(30, 207, 30); */
}



  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }