.notes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pin {
  background-color: #3e5d71 !important;
  order: -1
}

.readMore {
  height: 500px !important;
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.note {
  border-radius: 12px;
  width: 420px;
  height: 300px;
  background-color: lightskyblue;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 10px 10px 20px 0px rgb(168 168 168 / 75%);
}

.note>div {
  max-height: 70%;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow-y: auto;
  overflow-x: hidden;
}

.btn-pin-remove {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-pin-remove>* {
  margin: 5px;
}

/* HELPER */
.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-center-column img {
  width: 50%;
  height: 50%;
}

.flex-center-column>* {
  margin: 5px;
}

/* NAV-ADD */
.nav-add {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-add-removeAdd {
  margin: 5px;
}

/* NOTE-VIDEO */

.note-video-title {
  text-align: center;
}

.note-video-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-note {
  height: auto;
  margin: 5px;
}

/* NOTE-TODOS */
.note-todos-title {
  text-align: center;
}

.note-todos-alltxt {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 5px;

}

/* .note-todos-txt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  width: auto;
  height: auto;
} */

.note-todos-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-todos-btn>* {
  margin: 5px;
}

/* NOTE-IMAGE */
.note-img-type {
  text-align: center;
  padding: 5px;
}

.note-img-title {
  text-align: center;
  padding: 5px;

}

.note-img-img img {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-img-img span {
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* NOTE-TEXT */
.note-txt-type {
  padding: 5px;
}

.note-txt-txt {
  padding: 5px;
}

/* NOTE-IMAGE-EDIT */
.note-img-edit-img {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-img-edit-img img {
  height: 500px;
  width: 500px;
  object-fit: fill;
}