.notes-preview img {
  width: 150px;
  height: 150px;
}

.notes-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.pin {
  background-color: red;
  order: 1
}