.notes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pin {
  background-color: #3e5d71 !important;
  order: -1
}

.readMore {
  height: 500px !important;
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.note {
  border-radius: 12px;
  width: 420px;
  height: 300px;
  background-color: lightskyblue;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 10px 10px 20px 0px rgb(168 168 168 / 75%);
}

.note>div {
  max-height: 70%;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow-y: auto;
  overflow-x: hidden;
}

.btn-pin-remove {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-pin-remove>* {
  margin: 5px;
}

#selectTypeValue {
  border-radius: 20px;
}

/* HELPER */
.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-center-column img {
  width: 50%;
  height: 50%;
}

.flex-center-column>* {
  margin: 5px;
}

/* NAV-ADD */
.nav-add {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-add-removeAdd {
  margin: 5px;
}

/* NOTE-VIDEO */

.note-video-title {
  text-align: center;
}

.note-video-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-note {
  height: auto;
  margin: 5px;
}

/* NOTE-TODOS */
.note-todos-title {
  text-align: center;
}

.note-todos-alltxt {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 5px;

}

.note-todos-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-todos-btn>* {
  margin: 5px;
}

/* NOTE-IMAGE */
.note-img-type {
  text-align: center;
  padding: 5px;
}

.note-img-title {
  text-align: center;
  padding: 5px;

}

.note-img-img img {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-img-img span {
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* NOTE-TEXT */
.note-txt-type {
  padding: 5px;
}

.note-txt-txt {
  padding: 5px;
}

/* NOTE-IMAGE-EDIT */
.note-img-edit-img {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-img-edit-img img {
  height: 500px;
  width: 500px;
  object-fit: fill;
}

/* MEDIA FOR PHONE */
/* @media (max-width: 750px) {
  .main-size {
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px;
  }

  .btn-pin-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .note {
    min-width: 100%;
    min-height: 320px;
  }

  .note-img-edit-img {
    width: 300px;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
  }

  .note-img-edit-img img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }

} */

@media (max-width:1180px){
  .note{
    width: 380px;
  }

}


@media (max-width:970px){
.note{
  width: 300px;
}
}