* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}
button{
  cursor: pointer;
  border-radius: 2em;
  outline: none;
  padding:5px;
}

/* HELPER */
.main-size {
  width: 100%;
  height: 100%;
  padding: 20px 150px 20px;
}

/* HEADER */

.app-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 20px 1px #a1a1a1;
  background-color: #E4E5E8;
  margin-bottom: 5px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
}

.main-nav>* {
  text-decoration: none;
  color: black;
  padding: 5px;
}

.main-nav :last-child {
  padding-right: 0;
}

/* MAIN-CONTAINER */
.main-container {
  background-color: rgb(240 240 240);

}

/* FOOTER */
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 1px #a1a1a1;
  background-color: #E4E5E8;
  margin-top: 5px;
  height: 100px
}