* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}

.menu-hamburg {
  display: none;
}

button {
  cursor: pointer;
  border-radius: 2em;
  outline: none;
  padding: 5px 10px;
  background-color: rgb(214 237 249);
  transition: all .3s;
}

button:hover {
  background-color: rgb(255, 153, 153);
}

.show-nav-bar {
  display: none;
}

.user-msg {
  /* visibility: hidden; Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.success {
  /* background-color: rgb(30, 207, 30); */
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.user-msg button {
  border: unset;
  width: auto;
  height: auto;
  font-size: 0.7rem;
  color: white;
  background-color: transparent;
}

/* HELPER */
.main-size {
  width: 100%;
  height: 100%;
  padding: 20px 150px 20px;
}

/* HEADER */

.app-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 20px 1px #a1a1a1;

  margin-bottom: 5px;
  background-color: rgb(214 237 249);

}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  background-color: rgb(214 237 249);
}

.main-nav>* {
  text-decoration: none;
  color: black;
  padding: 5px;
}

.main-nav :last-child {
  padding-right: 0;
}

/* MAIN-CONTAINER */
.main-container {
  background-color: snow;

}

/* FOOTER */
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 1px #a1a1a1;
  background-color: rgb(214 237 249);
  margin-top: 5px;
  height: 100px
}


/* @@@@@@@@@@@@@@@@ HOME PAGE @@@@@@@@@@@@@@ */

.hero {
  position: relative;
  text-align: center;
  color: black;
  padding: 0 !important;
}

.hero img {
  width: 100%;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.63);
}

.centered h1 {
  font-size: 3em;
  width: auto;
  margin-bottom: 100px;
}

.centered h1 span {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.centered p {
  font-size: 1.2em;
  line-height: 1.5;
  width: auto;
}


/* about-us */
.about-header {
  text-align: center;
  padding: 30px;
  font-size: 40px;
}

.about-us {
  display: flex;
}

/* ARI */
.all-about-ari {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.icon-img {
  width: 40px;
  height: 40px;
  margin-inline-end: 8px;
  margin-top: 65px;
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icons :last-child {
  align-self: flex-end;
}

.icon-img img {
  padding: 7px;
  width: 40px;
  height: 40px
}

.icon-img {
  background-color: rgb(214 237 249);
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-about {
  max-width: 20.1875rem;
  max-height: 20.1875rem;
}

.img-profile img {
  display: block;
  width: 223px;
  height: 223px;
  background: #E6E7ED;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.img-profile {
  display: flex;
  align-items: center;
  margin: 30px 0;
  align-self: center;
}

.about-txt {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
}

/* ARI END */

.about-us {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

/* YONI */
.all-about-yoni {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}


@media (max-width:1180px) {
  .main-size {
    padding: 20px 120px 20px;
  }

  .main-nav {
    padding: 5px;
  }
  .note{
    width: 380px;
  }

}


@media (max-width:1040px){
  .main-size {
    padding: 20px 60px 20px;
  }
}

@media (max-width:980px) {
  .main-size {
    padding: 20px 20px 20px;
  }
  .about-us {
    flex-direction: column;
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 8px;
  }
  .centered h1 {
    margin-bottom: 20px;
  }
}

@media (max-width:700px) {

  .main-size {
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px;
  }
  .centered {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size:0.7em;
  }

  .centered p {
    font-size: 2em;
  }

  .about-txt {
    width: 70%;
    align-self: center;
    margin-bottom: 15px;
  }

  .centered h1 {
    margin-bottom: 0px;
  }
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    flex-direction: column;
    background-color: rgb(214 237 249);
    position: absolute;
    right: 0;
    top: 53px;
    padding: 15px;
    z-index: 1;
  }

  .nav-phone {
    display: none;
  }

  .menu-hamburg {
    display: block;
  }

  .show-nav-bar {
    display: flex;
  }
}